@use "../globals.scss";

.current-time-display {
  .title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    font-size: 2rem;
  }

  .time {
    p {
      text-align: center;
    }

    .clock {
      font-size: 5rem;
      line-height: 5rem;
      margin-top: 0;
    }

    .sun-set-rise {
      margin-top: globals.$space-sm;
      img {
        display: inline-block;
        height: 1rem;
        margin: 0 0.1rem;
        vertical-align: middle;
        filter: brightness(100%) invert(100%);

        // Fix for the icon in testing. This may need to be removed or adjusted depending on the icon to be used.
        transform: translateY(-2.5px);
      }
    }
  }
}
