@use "../globals.scss";

nav {
  display: flex;
  margin: 0 globals.$space-md;

  a {
    color: var(--accent-400);

    padding: globals.$space-md globals.$space-xs;
    margin: 0;

    text-decoration: none;

    &:hover {
      color: var(--accent-500);
      background-color: var(--accent-100);
    }

    transition: color 0.3s globals.$easing,
      background-color 0.5s globals.$easing;

    &.active {
      background-color: var(--accent-400);
      color: var(--background-50);
    }
  }
}
