[Unit]
Description=Gunicorn instance to serve the Timezone Webapp API
After=network.target

[Service]
User={{USER}}
Group=www-data
WorkingDirectory={{DJANGO_DIR}}
Environment="PATH={{VENV_DIR}}/bin"
ExecStart={{VENV_DIR}}/bin/gunicorn --workers 3 --bind unix:tmp/timezone-webapp.sock timezone-webapp.wsgi:application

[Install]
WantedBy=multi-user.target
